# Default ignored files
/../../../:POO/.idea/shelf/
/../../../:POO/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:POO/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:POO/.idea/dataSources/
/../../../:POO/.idea/dataSources.local.xml
